<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Dashboard</title>
</head>
<body>
    <form action="/deployments/create" method="POST">
        <label>
            Deployment Name
            <input type="text" name="deploymentName" value="<%= locals.deploymentName %>"/>
        </label>
        <label>
            Roadmapping Version (Branch)
            <input type="text" name="roadmappingVersion" value="<%= locals.defaultVersion %>"/>
        </label>
        <label>
            Fim Version
            <input type="text" name="fimVersion" value="<%= locals.defaultVersion %>"/>
        </label>
        <label>
            Feedback-Portal Version
            <input type="text" name="feedbackPortalVersion" value="<%= locals.defaultVersion %>"/>
        </label>
        <label>
            Auth-Api Version
            <input type="text" name="authApiVersion" value="<%= locals.defaultVersion %>"/>
        </label>
        <label>
            Auth-Ui Version
            <input type="text" name="authUiVersion" value="<%= locals.defaultVersion %>"/>
        </label>
        <button type="submit">Create</button>
    </form> 
</body>
</html>